#!/usr/local/bin/python2.7

TESTDB={
'HOST':'1.1.2.1',
'USER':'user',
'PASSWD':'passwd`',
'DB':'db',
'CHARSET':'utf8'
}
PUBLICDB={
'HOST':'1.1.2.4',
'USER':'user',
'PASSWD':'passwd',
'DB':'db',
'CHARSET':'utf8'
}
PUBLICDB1={
'HOST':'1.1.2.2',
'USER':'user',
'PASSWD':'passwd',
'DB':'db',
'CHARSET':'utf8'
}
